version: '3.8'

services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: chatwoot_postgres
    restart: unless-stopped
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=chatwoot_production
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=LljhmBUNg7oIJTDvXcrQiddOeZfV3Fa6W
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: chatwoot_redis
    restart: unless-stopped
    command: ["redis-server", "--requirepass", "BsLdIExY2Jrjco8OtvhnQ11FmT5AgKVbH"]
    volumes:
      - redis_data:/data
    ports:
      - '6379:6379'
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  base: &base
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    image: chatwoot:local
    env_file: .env.production
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  rails:
    <<: *base
    container_name: chatwoot_rails
    build:
      context: .
      dockerfile: ./docker/dockerfiles/rails.Dockerfile
    image: chatwoot-rails:local
    volumes:
      - storage_data:/app/storage
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
    entrypoint: docker/entrypoints/rails.sh
    command: ['bundle', 'exec', 'rails', 's', '-p', '3000', '-b', '0.0.0.0']
    restart: unless-stopped

  sidekiq:
    <<: *base
    container_name: chatwoot_sidekiq
    image: chatwoot-rails:local
    volumes:
      - storage_data:/app/storage
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
    command: ['bundle', 'exec', 'sidekiq', '-C', 'config/sidekiq.yml']
    restart: unless-stopped

volumes:
  storage_data:
  postgres_data:
  redis_data:
